<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Getting Started with Ruby on Temploy</h1>
    <p>This is a sample Ruby application deployed to Temploy. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Temploy platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.temploy.com/articles/getting-started-with-ruby"><span class="glyphicon glyphicon-flash"></span> Getting Started with Ruby</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/temploy/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Temploy platform, head over to the <a href="https://devcenter.temploy.com/articles/getting-started-with-ruby" class="alert-link">Getting Started with Ruby on Temploy</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Temploy, either using Git or by using <a href="https://github.com/temploy/ruby-getting-started">Temploy Button</a> on the repository.</li>

        <li>When Temploy received the source code, it fetched all the dependencies in the <a href="https://github.com/temploy/ruby-getting-started/blob/main/Gemfile">Gemfile</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.temploy.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.temploy.com/articles/getting-started-with-ruby">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Temploy Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/temploy/ruby-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd ruby-getting-started</code> - change directory into the local source code repository</li>
          <li><code>temploy git:remote -a &lt;your-app-name></code> - associate the Temploy app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.temploy.com/articles/getting-started-with-ruby#push-local-changes">deploy changes</a> to Temploy</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.temploy.com/home">Temploy</a></li>
        <li><a href="https://devcenter.temploy.com/">Temploy Dev Center</a></li>
        <li><a href="https://devcenter.temploy.com/articles/getting-started-with-ruby">Getting Started with Ruby on Temploy</a></li>
        <li><a href="https://devcenter.temploy.com/articles/deploying-ruby-and-rails">Deploying Ruby Apps on Temploy</a></li>
        <li><a href="https://devcenter.temploy.com/articles/getting-started-with-jruby">Getting Started with Ruby on Temploy (Microsoft Windows)</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Temploy, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
