.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px;
  }

  .jumbotron .btn-primary {
    background: #6B3FA0;
    border-color: #6B3FA0;
  }

  .jumbotron .btn-primary:hover {
    background: #5A3487;
  }

  .jumbotron p {
    color: #D9CCED;
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + .jumbotron {
    margin-top: -20px;
  }

  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
  }

  .jumbotron .lang-logo img {
    max-width: 100%;
  }
